player-connection-mode=Listen
player-connection-guid=1543155427
player-connection-debug=0
player-connection-project-name=Death Valley
player-connection-ip=25.65.208.110
player-connection-ip=192.168.1.20
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
